<div class="popup-add-new-employee-component-bg"
	ng-if="popupAddNewEmployeeCtrl.trigered"
	></div>
<div class="popup-add-new-employee-component"
	ng-if="popupAddNewEmployeeCtrl.trigered">

	<div class="popup-add-new-employee-component-head">
		<span>New employee details</span>	
	</div>

	<table>
		<tbody>
			<tr class="popup-add-new-employee-component-row">
					<td class="popup-add-new-employee-component-row-td-span">
						<span class="popup-add-new-employee-component-row-span-employee-name">Employee name:</span>
					</td>
					<td>
						<form class="popup-add-new-employee-component-row-form" name="nameForm"
							autocomplete="off">
							<input class="popup-add-new-employee-component-row-input" type="text"
								name="employeeName" id="employeeName" ng-class="popupAddNewEmployeeCtrl.checkName(nameForm.employeeName.$valid)"
								ng-pattern="popupAddNewEmployeeCtrl.regexName"
								ng-model="popupAddNewEmployeeCtrl.newEmployee.name"
								maxlength="50" placeholder="Employee name..." required>
						</form>
						<span ng-if="popupAddNewEmployeeCtrl.emptyName && popupAddNewEmployeeCtrl.saved"
							  class="popup-add-new-employee-component-row-span-employee-name-error">*this field is mandatory for submission</span>
						<span ng-if="popupAddNewEmployeeCtrl.duplicateName"
							  class="popup-add-new-employee-component-row-span-employee-name-error">*this field contains duplicate, please verify</span>
					</td>
			</tr>
			<tr class="popup-add-new-employee-component-row">
					<td class="popup-add-new-employee-component-row-td-span">
						<span class="popup-add-new-employee-component-row-span-upsa-link">UPSA Link:</span>
					</td>
					<td>
						<form class="popup-add-new-employee-component-row-form" name="upsaLinkForm" autocomplete="off">
							<input class="popup-add-new-employee-component-row-input" type="text"
								name="employeeUpsaLink" id="employeeUpsaLink"
								ng-class="popupAddNewEmployeeCtrl.checkLink(upsaLinkForm.employeeUpsaLink.$valid)"
								ng-pattern="popupAddNewEmployeeCtrl.regexName"
								ng-model="popupAddNewEmployeeCtrl.newEmployee.upsaLink"
								maxlength="500" placeholder="UPSA Link..." required>
						</form>
						<span ng-if="popupAddNewEmployeeCtrl.emptyLink && popupAddNewEmployeeCtrl.saved"
							  class="popup-add-new-employee-component-row-span-employee-name-error">*this field is mandatory for submission</span>
						<span ng-if="popupAddNewEmployeeCtrl.duplicateLink"
							  class="popup-add-new-employee-component-row-span-employee-name-error">*this field contains duplicate, please verify</span>
					</td>
			</tr>
			<tr class="popup-add-new-employee-component-row">
					<td class="popup-add-new-employee-component-row-td-span">
						<span class="popup-add-new-employee-component-row-span-status">Status:</span>
					</td>
					<td>
						<form class="popup-add-new-employee-component-row-form">
							<select class="popup-add-new-employee-component-row-form-select"
								ng-model="popupAddNewEmployeeCtrl.newEmployee.active">
								<option value="true">ACTIVE</option>
								<option value="false">NOT ACTIVE</option>
							</select>
						</form>
					</td>
			</tr>
			<tr class="popup-add-new-employee-component-row">
					<td class="popup-add-new-employee-component-row-td-span">
						<span class="popup-add-new-employee-component-row-span-admin-rights">Admin rights:</span>
					</td>
					<td>
						<form class="popup-add-new-employee-component-row-form">
							<select class="popup-add-new-employee-component-row-form-select"
								ng-model="popupAddNewEmployeeCtrl.newEmployee.admin">
								<option value="true">Yes</option>
								<option value="false">No</option>
							</select>
						</form>
					</td>
			</tr>
			<tr>
				<td>
					<button class="popup-add-new-employee-component__btn" type="button"
						ng-click="popupAddNewEmployeeCtrl.addToList(popupAddNewEmployeeCtrl.newEmployee)">Save</button>
				</td>
				<td>
					<button class="popup-add-new-employee-component__btn" type="button"
						ng-click="popupAddNewEmployeeCtrl.cancel()">Cancel</button>
				</td>
			</tr>
		</tbody>
	</table>


	<popup-cancel-component
			change-canceled="popupAddNewEmployeeCtrl.changeCanceled"
			click-yes="popupAddNewEmployeeCtrl.clickYes"
			click-no="popupAddNewEmployeeCtrl.clickNo"/>
</div>