# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/

# Web client
node_modules/
/node/
*.log
/src/main/webapp/build/

#DBProperties
/src/main/resources/jdbc.properties

#ConstantJS
/src/main/webapp/resources/config/js/constants.js