<div>
    <table class="table" style=" overflow-y:scroll; height:250px; display:block;">
        <thead style="width: inherit">
        <tr>
            <th>name</th>
            <th>address</th>
            <th>info</th>
            <th>action</th>
            <th>&nbsp;&nbsp;</th>
        </tr>
        </thead>
        <tbody style="width: inherit">

        <tr ng-repeat="element in dataObject.list">
            <td><span ng-if="element.id!=editingId">{{element.name}}</span>
                <input ng-if='element.id==editingId' class="form-control" ng-model="element.name">
            </td>
            <td><span ng-if="element.id!=editingId">{{element.address}}</span>
                <input ng-if='element.id==editingId' class="form-control" ng-model="element.address">
            </td>
            <td><span ng-if="element.id!=editingId">{{element.info}}</span>
                <input ng-if='element.id==editingId' class="form-control" ng-model="element.info">
            </td>

            <td>
                <button ng-if='element.id!=editingId' class="btn btn-warning" ng-click="editing(element)">Edit</button>
                <button ng-if='element.id==editingId' class="btn btn-warning" ng-click="editObject(element)">Persist
                </button>
            </td>
        </tr>
        <tr>
            <td><input ng-if='addObjectInProcess' class="form-control" ng-model="newObject.name"></td>
            <td><input ng-if='addObjectInProcess' class="form-control" ng-model="newObject.address"></td>
            <td><input ng-if='addObjectInProcess' class="form-control" ng-model="newObject.info"></td>
            <td ng-if="!addObjectInProcess">
                <button class="btn btn-primary" ng-click="addingObject()">Add</button>
            </td>
            <td ng-if="addObjectInProcess">
                <button class="btn btn-info" ng-click="addToList()">Persist</button>
                &nbsp;&nbsp;
                <button class="btn btn-info" ng-click="clear()">Clear</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>