<div class="row" style="width: 1000px">
	<div class="col-md-6">
		<!-- left tabbed menu -->
		<div class="tabbable tabs-left">
			<ul class="nav nav-tabs">
				<li ng-class="{'active': view_tab == 'locations'}"><a
					ng-click="changeTab('locations')" href="#list/locations"
					style="font-family: Calibri; font-size: 17px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 26.4px; color: black;"
					data-toggle="tab">Locations</a></li>
				<li
					ng-class="{'active': view_tab == 'orders1', 'linkDisabled': false}"
					ng-disabled="false"><a ng-click="changeTab('orders1')"
					style="font-family: Calibri; font-size: 17px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 26.4px; color: black;"
					href="#list/orders" data-toggle="tab">Vendors</a></li>

				<li
					ng-class="{'active': view_tab == 'orders2', 'linkDisabled': false}"
					ng-disabled="false"><a ng-click="changeTab('orders2')"
					style="font-family: Calibri; font-size: 17px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 26.4px; color: black;"
					href="#list/orders" data-toggle="tab">Employees</a></li>
				<li
					ng-class="{'active': view_tab == 'orders3', 'linkDisabled': false}"
					ng-disabled="false"><a ng-click="changeTab('orders3')"
					style="font-family: Calibri; font-size: 17px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 26.4px; color: black;"
					href="#list/orders" data-toggle="tab">Employee Balances</a></li>
				<li
					ng-class="{'active': view_tab == 'orders4', 'linkDisabled': false}"
					ng-disabled="false"><a ng-click="changeTab('orders4')"
					style="font-family: Calibri; font-size: 17px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 26.4px; color: black;"
					href="#list/orders" data-toggle="tab">Reporting</a></li>

			</ul>
			<div class="tab-content">
				<div class="tab-pane active">
					<div ng-hide="checkTable()" class="table-responsive"
						style="overflow: auto; max-height: 45em">
						<table
							class="table table-condensed table-hover table-striped  table-bordered"
							style="background-color: #F8F8F8; width: 100%; table-layout: fixed; border-color: black; border-width: 3px; border: solid;">
							<colgroup>
								<col style="width: 10%">
								<col style="width: 30%">
								<col style="width: 10%">
								<col style="width: 45%">
								<col style="width: 15%">
							</colgroup>

							<thead
								style="width: inherit; background-color: #A0A0A0; border-color: black; border-width: 3px; border: solid;">
								<tr>
									<th class="header"
										style="border-color: #808080; border-width: 2px; border: solid;">Name</th>
									<th class="header"
										style="border-color: #808080; border-width: 2px; border: solid;">Address</th>
									<th class="header"
										style="border-color: #808080; border-width: 2px; border: solid;">Floor</th> 
									<th class="header"
										style="border-color: #808080; border-width: 2px; border: solid;">Additional
										information</th>
									<th class="header"
										style="border-color: #808080; border-width: 2px; border: solid;"></th>

								</tr>
							</thead>
							<tbody
								style="width: inherit; overflow-y: scroll; border-color: black; border-width: 3px; border: solid;">

								<tr ng-repeat="(key, element) in dataObject.list">
									<td
										style="vertical-align: middle; word-wrap: break-word; border-color: black; border-width: 3px; border: solid;"><span
										ng-if="element.id!=editingId">{{element.name}}</span> <input
										ng-if='element.id==editingId' type="text" class="form-control"
										ng-model="editingObject.name"></td>
									<td
										style="vertical-align: middle; word-wrap: break-word; border-color: black; border-width: 3px; border: solid;"><span
										ng-if="element.id!=editingId">{{element.address}}</span> <input
										ng-if='element.id==editingId' class="form-control"
										ng-model="editingObject.address"></td>
									<td
										style="vertical-align: middle; word-wrap: break-word; border-color: black; border-width: 3px; border: solid;"><span
										ng-if="element.id!=editingId">{{element.floor}}</span> <input
										ng-if='element.id==editingId' type="text" class="form-control"
										ng-model="editingObject.floor"></td>
									<td
										style="vertical-align: middle; word-wrap: break-word; border-color: black; border-width: 3px; border: solid;"><span
										style="word-wrap: break-word" ng-if="element.id!=editingId">{{element.info}}</span>
										<input ng-if='element.id==editingId' class="form-control"
										ng-model="editingObject.info"></td>

									<td
										style="vertical-align: middle; border-color: black; border-width: 3px;"
										align="center">

										<div class="btn-toolbar" ng-if='element.id!=editingId'
											style="display: inline-block;">
											<div class="btn-group">
												<i class="btn glyphicon glyphicon-edit"
													ng-click="editing(element)" title="Edit"></i> <i
													class="btn glyphicon glyphicon-trash" ng-click=""
													title="Delete"></i>
											</div>
										</div>


										<div class="btn-toolbar" ng-if='element.id==editingId'
											style="display: inline-block;">
											<div class="btn-group">
												<i class="btn glyphicon glyphicon-floppy-disk" title="Save"
													ng-click="editObject(key)"></i> <i
													class="btn glyphicon glyphicon-remove" ng-click="cancel()"
													title="Cancel"></i>
											</div>
										</div>

									</td>
								</tr>
								<tr>
									<td
										style="vertical-align: middle; border-color: black; border-width: 3px; border: solid;"><input
										ng-if='addObjectInProcess' class="form-control"
										ng-model="newObject.name"></td>
									<td
										style="vertical-align: middle; border-color: black; border-width: 3px; border: solid;"><input
										ng-if='addObjectInProcess' class="form-control"
										ng-model="newObject.address"></td>
									<td
										style="vertical-align: middle; border-color: black; border-width: 3px; border: solid;"><input
										ng-if='addObjectInProcess' class="form-control"
										ng-model="newObject.floor"></td>
									<td
										style="vertical-align: middle; border-color: black; border-width: 3px; border: solid;"><input
										ng-if='addObjectInProcess' class="form-control"
										ng-model="newObject.info"></td>






									<td
										style="vertical-align: middle; border-color: black; border-width: 3px; border: solid;"
										align="center" ng-if="!addObjectInProcess">
										<!--           <div class="btn-toolbar"><i class="btn glyphicon glyphicon-plus" ng-click="addingObject()"></i></div>-->
										<button class="btn btn-primary"
											style="box-shadow: 5px 5px 2px #000000; border-width: 2px; border-color: black;"
											ng-click="addingObject()">Add new</button>
									</td>
									<td
										style="vertical-align: middle; border-color: black; border-width: 3px; border: solid;"
										align="center" ng-if="addObjectInProcess">
										<div class="btn-toolbar" style="display: inline-block;">
											<div class="btn-group">
												<i class="btn glyphicon glyphicon-floppy-disk"
													ng-click="addToList()" title="Create"></i> <i
													class="btn glyphicon glyphicon-remove" ng-click="clear()"
													title="Cancel"></i>
											</div>
										</div> <!--                              <button class="btn btn-info" ng-click="addToList()">Save</button>
                                &nbsp;&nbsp;
                                <button class="btn btn-info" ng-click="clear()">Clear</button>-->
									</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
		<!-- /tabs -->
	</div>
</div>
