<div class="table-view employee-component">
    <div class="employee-component__controllers">
    	<div>
    		<input type="search" class="employee-component__controllers-search" placeholder="Type a name.."
                ng-model="employeeCtrl.searchTerm"
                ng-model-options="{debounce: 1000}" ng-minlength="3" ng-change="employeeCtrl.findEmployees()">
                <button type="button" class="employee-component__controllers-form-submit"
                        ng-click="employeeCtrl.addingObject()">Add new
                </button>
    	</div>
        
        <div class="employee-component__controllers-wrapper">
            <label class="employee-component__controllers-checkbox">
                <input type="checkbox" ng-model="employeeCtrl.checkboxShowAll.value"
                        ng-click="employeeCtrl.clickCheckboxShowAll()">
                Show all
            </label>
            <form class="employee-component__controllers-form" ng-submit="employeeCtrl.sendFile()"
                    enctype="multipart/form-data">
                <label class="employee-component__controllers-form-file">
                    <input class="employee-component__controllers-form-file-input" type="file" id="file">
                </label>
                <button class="employee-component__controllers-form-submit" type="submit">Upload</button>
            </form>
        </div>
         
    </div>
    <div class="table-view__header employee-component__header">
        <div class="table-view__header-th employee-component__header-th">Name</div>
        <div class="table-view__header-th employee-component__header-th">Email</div>
        <div class="table-view__header-th employee-component__header-th">Status</div>
        <div class="table-view__header-th employee-component__header-th">Admin rights</div>
        <div class="table-view__header-th employee-component__header-th"></div>
    </div>
    <div ng-if="!employeeCtrl.searchIsEmpty.empty" class="employee-component__nothing">
        Nothing has been found
    </div>
    <div class="table-view__body" ng-if="employeeCtrl.searchIsEmpty.empty">
        <div class="table-view__body-row"
                dir-paginate="(key, element) in employeeCtrl.users | itemsPerPage: employeeCtrl.usersPerPage"
                total-items="employeeCtrl.totalUsers" current-page="employeeCtrl.pagination.current">
            <div class="table-view__body-td">
            <a  ng-href="{{element.upsaLink}}">
                <span>{{element.name}}</span>
                </a>
            </div>
            <div class="table-view__body-td">
                <span>{{element.email}}</span>
            </div>
            <div class="table-view__body-td">
                <span>{{element.active? "ACTIVE" : "NOT ACTIVE"}}</span>
            </div>
            <div class="table-view__body-td">
                <span>{{element.admin? "Yes": "No"}}</span>
            </div>
            <div class="table-view__body-td">
                <div>
                    <i class="table-view__body-btn table-view__body-btn--accept glyphicon glyphicon-edit"
                            ng-click="employeeCtrl.editingObject(key, element)" title="Edit">
                    </i>
                    <i class="table-view__body-btn table-view__body-btn--delete glyphicon glyphicon-trash"
                            ng-click="" title="Delete">
                    </i>
                </div>
            </div>
        </div>
    </div>
    <dir-pagination-controls class="employee-component__pagination" ng-if="employeeCtrl.searchIsEmpty.empty"
            on-page-change="employeeCtrl.pageChanged(newPageNumber)"
            max-size="employeeCtrl.controlPageSize">
    </dir-pagination-controls>
    <div class="table-view__body" ng-if="employeeCtrl.searchIsEmpty.empty && employeeCtrl.checkboxShowAll.value">
        <div class="table-view__body-row"
                ng-repeat="(key, element) in employeeCtrl.dataObject.list | orderBy : 'name'">
            <div class="table-view__body-td">
                <span>{{element.name}}</span>
            </div>
            <div class="table-view__body-td">
                <span>{{element.email}}</span>
            </div>
            <div class="table-view__body-td">
                <span>{{element.active? "ACTIVE" : "NOT ACTIVE"}}</span>
            </div>
            <div class="table-view__body-td">
                <span>{{element.admin? "Yes": "No"}}</span>
            </div>
            <div class="table-view__body-td">
                <div ng-if="element.id != employeeCtrl.editingId">
                    <i class="table-view__body-btn table-view__body-btn--accept glyphicon glyphicon-edit"
                            ng-click="employeeCtrl.editing(element)" title="Edit">
                    </i>
                    <i class="table-view__body-btn table-view__body-btn--delete glyphicon glyphicon-trash"
                            ng-click="" title="Delete">
                    </i>
                </div>
                <div ng-if="element.id == employeeCtrl.editingId">
                    <i class="table-view__body-btn table-view__body-btn--save glyphicon glyphicon-floppy-disk"
                            ng-click="employeeCtrl.editObject(key)" title="Save">
                    </i>
                    <i class="table-view__body-btn table-view__body-btn--cancel glyphicon glyphicon-remove"
                            ng-click="employeeCtrl.cancel()" title="Cancel">
                    </i>
                </div>
            </div>
        </div>
    </div>
    </div>
    <popup-add-new-employee-component 
	    change-trigered="employeeCtrl.changeTrigered" 
	    add-to-list="employeeCtrl.addToList" 
	    new-employee="employeeCtrl.newEmployee"
	    empty-name="employeeCtrl.emptyName"
	    empty-link="employeeCtrl.emptyLink"
	    empty-field-style="employeeCtrl.emptyFieldStyle"
	    check-name="employeeCtrl.checkName"
	    check-link="employeeCtrl.checkLink"
	    saved="employeeCtrl.saved"
	    duplicate-link="employeeCtrl.duplicateLink"
	    duplicate-name="employeeCtrl.duplicateName">
    </popup-add-new-employee-component>
    
     <popup-edit-employee-component 
    	change-trigered-for-edit="employeeCtrl.changeTrigeredForEdit" 
    	empty-name-on-edit="employeeCtrl.emptyNameOnEdit"
	    edit-employee="employeeCtrl.editEmployee"
	    empty-link-on-edit="employeeCtrl.emptyLinkOnEdit"
	    empty-field-style="employeeCtrl.emptyFieldStyleOnEdit"
	    check-name-on-edit="employeeCtrl.checkNameOnEdit"
	    check-link-on-edit="employeeCtrl.checkLinkOnEdit"
	    saved="employeeCtrl.savedOnEdit"
	    duplicate-link-on-edit="employeeCtrl.duplicateLinkOnEdit"
	    duplicate-name-on-edit="employeeCtrl.duplicateNameOnEdit">
    </popup-edit-employee-component>

</div>