<div class="table-responsive table-responsive-custom location-table-div">
	<table class="locations-info-table">
		<colgroup>
			<col class="locations-info-table-col1">
			<col class="locations-info-table-col2">
			<col class="locations-info-table-col3">
			<col class="locations-info-table-col4">
			<col class="locations-info-table-col5">
			<col class="locations-info-table-col6">
		</colgroup>
		<thead>
			<tr>
				<th>Name</th>
				<th>Address</th>
				<th>Floor</th>
				<th>Status</th>
				<th>Additional information</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(key, element) in dataObject.list">
				<td><span ng-if="element.id!=editingId">{{element.name}}</span>
					<form name="nameForm">
					<input ng-if='element.id==editingId' type="text" name="editingObjectName" id="editingObjectName"
					class="form-control" ng-class="(nameForm.editingObjectName.$valid)?'':'focusred'" ng-pattern="regex"
					ng-model="editingObject.name" maxlength="5" required />
					</form>
					</td>
				<td><span ng-if="element.id!=editingId">{{element.address}}</span>
					<form name="addrForm">
					<input ng-if='element.id==editingId' class="form-control" name="editingObjectAddr" id="editingObjectAddr"
					ng-class="(addrForm.editingObjectAddr.$valid)?'':'focusred'" ng-pattern="regex"
					ng-model="editingObject.address" maxlength="25" required/>
					</form>
					</td>
				<td><span ng-if="element.id!=editingId">{{element.floor}}</span>
					<form name="floorForm">
					<input ng-if='element.id==editingId' class="form-control" name="editingObjectFloor" id="editingObjectFloot"
					ng-class="(floorForm.editingObjectFloor.$valid)?'':'focusred'" ng-pattern="regexNumber"
					ng-model="editingObject.floor" maxlength="2" required/>
					</form>
					</td>
				<td><span ng-if="element.id!=editingId">
						{{element.active? 'ACTIVE' : 'NOT ACTIVE'}}</span> <select
					class="form-control" ng-if='element.id==editingId'
					ng-model="editingObject.active">
						<option class="form-control" ng-selected="element.active"
							value='true'>ACTIVE</option>
						<option class="form-control" ng-selected="!element.active"
							value='false'>NOT ACTIVE</option>
				</select></td>
				<td><span ng-if="element.id!=editingId">{{element.info}}</span>
					<input ng-if='element.id==editingId' class="form-control"
					ng-model="editingObject.info" maxlength="50"></td>
				<td align="center">
					<div class="btn-toolbar" style="display: inline-block;"
						ng-if='element.id!=editingId' style="display: inline-block;">
						<div class="btn-group">
							<i class="btn glyphicon glyphicon-edit saveEditBtn"
								ng-click="editing(element)" title="Edit"></i> <i
								class="btn glyphicon glyphicon-trash cancelDelBtn" ng-click=""
								title="Delete"></i>
						</div>
					</div>
					<div class="btn-toolbar" style="display: inline-block;"
						ng-if='element.id==editingId' style="display: inline-block;">
						<div class="btn-group">
							<i class="btn glyphicon glyphicon-floppy-disk saveEditBtn"
								title="Save" ng-click="editObject(key)"></i> <i
								class="btn glyphicon glyphicon-remove cancelDelBtn"
								ng-click="cancel()" title="Cancel"></i>
						</div>
					</div>
				</td>
			</tr>
			<tr class="locations-info-table-last-row">
				<td>
				<form name="addLocationNameForm">
				<input ng-if='addObjectInProcess' class="form-control"
				
				name="addingObjectName" id="addingObjectName"
					class="form-control" ng-class="(addLocationNameForm.addingObjectName.$valid)?'':'focusred'" ng-pattern="regex"
					ng-model="newObject.name" maxlength="5" required />
					
				</form>
				</td>
				<td>
				<form name="addLocationAddresForm">
				<input ng-if='addObjectInProcess' class="form-control"
			
				 name="addingObjectAddr" id="addingObjectAddr"
					ng-class="(addLocationAddresForm.addingObjectAddr.$valid)?'':'focusred'" ng-pattern="regex"
					ng-model="newObject.address" maxlength="25" required />
					
				</form>	
				</td>
				<td>
				
				<form name="addNewFloorForm">
				<input ng-if='addObjectInProcess' class="form-control"
					name="addingNewObjectFloor" id="addingNewObjectFloor"
					ng-class="(addNewFloorForm.addingNewObjectFloor.$valid)?'':'focusred'" ng-pattern="regexNumber"
					ng-model="newObject.floor" maxlength="2" required />
					
					</form>
					
				</td>
				<td><select class="form-control" ng-if='addObjectInProcess'
					ng-model="newObject.active">
						<option class="form-control" value='true'>ACTIVE</option>
						<option class="form-control" value='false'>NOT ACTIVE</option>
				</select></td>
				<td><input ng-if='addObjectInProcess' class="form-control"
					ng-model="newObject.info" maxlength="50"></td>
				<td ng-if="!addObjectInProcess" align="center">
					<button class="modernButton addNew" ng-click="addingObject()">Add
						new</button>
				</td>
				<td ng-if="addObjectInProcess" align="center">
					<div class="btn-toolbar" style="display: inline-block;">
						<div class="btn-group">
							<i class="btn glyphicon glyphicon-floppy-disk saveEditBtn"
								ng-click="addToList()" title="Create"></i> <i
								class="btn glyphicon glyphicon-remove cancelDelBtn"
								ng-click="clear()" title="Cancel"></i>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="some-class-bg" ng-if="trigered" ng-click="changeTrigered()"></div>
	<div class="some-class" ng-if="trigered">
		Press ok to not shit window 
		
		<button type="button" ng-click="changeTrigered()">okay</button>
	</div>
</div>