<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="FoodOrder" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="FoodOrder" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="FoodOrder" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="FoodOrder" class="no-js">
<!--<![endif]-->
<head>
    <!-- <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Food Order</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
            href="//fonts.googleapis.com/css?family=Oswald"/>
    <link rel="stylesheet"
            href="front-app/app/bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet"
            href="front-app/app/bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet"
            href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="front-app/app/app.css">
    <link rel="stylesheet" href="index.css">
    <script
            src="front-app/app/bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-controller="BodyCtrl">
<div id="header-wrapper" class="nav navbar-nav">
    <div id="header">
        <div id="epam-logo">
            <a href="https://www.epam.com/"> <img id="epam-logo-img"
                    src="resources/components/navbar/EPAM_LOGO_White.png"/>
            </a>
        </div>
        <div id="knife-spoon-photo">
            <img id="knife-spoon-photo-img"
                    src="resources/components/navbar/fork-and-knife.png"/>
        </div>
        <div id="site-name">
            <label> <span id="site-name-text">FOOD ORDER</span>
            </label>
        </div>
        <div id="logout" ng-if="loggedIn">
            <button type="button" class="modernButton logOut"
                    ng-click="logOut()">Log out
            </button>
        </div>
        <div id="user-role" ng-if="loggedIn">
            <label> <span id="dude" class="glyphicon glyphicon-user"></span>
                <span id="user-role-text"> Admin: </span> <span id="user-name-text"
                        ng-if="userNameOut!=''"> {{userNameOut}} </span>
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="top-margin">
        <div class="tabbable tabs-left">
            <ul ng-if="loggedIn" class="nav nav-tabs">
                <li class="li-header">Category</li>
                <li ng-class="{'active': view_tab == 'locations'}"><a ng-click="changeTab('locations')"
                        href="#list/locations" data-toggle="tab">Locations</a></li>
                <li ng-class="{'active': view_tab == 'vendors'}"><a ng-click="changeTab('vendors')" href="#list/vendors"
                        data-toggle="tab">Vendors</a></li>
                <li ng-class="{'active': view_tab == 'employees'}"><a ng-click="changeTab('employees')"
                        href="#list/employees" data-toggle="tab">Employees</a></li>
                <li><a href="" data-toggle="tab">Employee Balances</a></li>
                <li><a href="" data-toggle="tab">Reporting</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <!-- 	<div class="container"> -->
                    <div ng-view></div>
                    <!-- 	</div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="front-app/app/bower_components/angular/angular.js"></script>
<script
        src="front-app/app/bower_components/angular-route/angular-route.js"></script>
<script
        src="front-app/app/bower_components/angular-resource/angular-resource.min.js"></script>
<!--<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>-->
<script src="front-app/app/app.js"></script>
<script src="front-app/app/location/location-controller.js"></script>
<script src="front-app/app/vendor/vendor-controller.js"></script>
<script src="front-app/app/employee/employee-controller.js"></script>
<script src="front-app/app/services/abstract-service.js"></script>
<script src="front-app/app/login/login-controller.js"></script>
<script src="front-app/app/components/version/version.js"></script>
<script src="front-app/app/components/version/version-directive.js"></script>
<script src="front-app/app/components/version/interpolate-filter.js"></script>
<script src="front-app/app/pagination/dirPagination.js"></script>
<script
        src="front-app/app/vendor/dropdown/angularjs-dropdown-multiselect.js"></script>
<script src="https://cdn.jsdelivr.net/lodash/4.13.1/lodash.min.js"></script>
</body>
</html>
