<div class="table-responsive table-responsive-custom location-table-div" id="scrTop" >
	<div class="area-buttons">
		<input type='text' placeholder='Type a name..' class="area-buttons__search"
        	ng-model='searchTerm'
        	ng-model-options='{ debounce: 1000 }'
        	ng-minlength = '3'
        	ng-change='findEmployees()'
    	/>
        <div class="area-buttons__wrapper">
            <input type="checkbox" ng-model="checkboxShowAll.value"
                    ng-click="clickCheckboxShowAll()"> Show all
        </div>
        <form ng-submit="sendFile()" enctype="multipart/form-data">
        	<span class="area-buttons__file-input">
				<input class="modernButton addNew" type="file" id="file" />
			</span>
			<span class="area-buttons__submit-file">
				<button class="modernButton addNew" type="submit">Submit</button>
        	</span>
		</form>
	</div>
    
    <table class="employees-info-table" ng-if="searchIsEmpty.empty && checkboxShowAll.value">
        <colgroup>
            <col class="employees-info-table-col1">
            <col class="employees-info-table-col2">
            <col class="employees-info-table-col3">
            <col class="employees-info-table-col4">
            <col class="employees-info-table-col5">
        </colgroup>
        <thead>
        <tr class="table-employees__header">
            <th class="table-employees__header-item">Name</th>
            <th class="table-employees__header-item">Email</th>
            <th class="table-employees__header-item">Status</th>
            <th class="table-employees__header-item">Admin rights</th>
        </tr>
        </thead>
        <tbody>
  		<tr ng-repeat="(key, element) in dataObject.list">
            <td>
                <span>{{element.name}}</span>
            </td>
            <td>
                <span>{{element.email}}</span>
            </td>
            <td>
                <span>{{element.active? 'ACTIVE' : 'NOT ACTIVE'}}</span>
            </td>
            <td><span>{{element.admin? 'True': 'False'}}</span>
            </td>
            <td align="center">
                <div class="btn-toolbar" style="display: inline-block;"
                        ng-if='element.id!=editingId' style="display: inline-block;">
                    <div class="btn-group">
                        <i class="btn glyphicon glyphicon-edit saveEditBtn"
                                ng-click="editing(element)" title="Edit"></i> <i
                            class="btn glyphicon glyphicon-trash cancelDelBtn" ng-click=""
                            title="Delete"></i>
                    </div>
                </div>
                <div class="btn-toolbar" ng-if='element.id==editingId'>
                    <div class="btn-group">
                        <i class="btn glyphicon glyphicon-floppy-disk saveEditBtn"
                                title="Save" ng-click="editObject(key)"></i> <i
                            class="btn glyphicon glyphicon-remove cancelDelBtn"
                            ng-click="cancel()" title="Cancel"></i>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="employees-info-table-last-row">
            <td>
                <form name="addLocationNameForm" autocomplete="off">
                    <input ng-if='addObjectInProcess' class="form-control"
                            name="addingObjectName" id="addingObjectName"
                            class="form-control" ng-class="checkStyle(addLocationNameForm.addingObjectName.$valid)"
                            ng-pattern="regex"
                            ng-model="newObject.name" maxlength="5" required/>
                </form>
            </td>
            <td>
                <form name="addLocationAddresForm" autocomplete="off">
                    <input ng-if='addObjectInProcess' class="form-control"
                            name="addingObjectAddr" id="addingObjectAddr"
                            ng-class="checkStyle(addLocationAddresForm.addingObjectAddr.$valid)" ng-pattern="regex"
                            ng-model="newObject.address" maxlength="25" required/>
                </form>
            </td>
            <td><select class="form-control" ng-if='addObjectInProcess'
                    ng-model="newObject.active">
                <option class="form-control" value='true'>ACTIVE</option>
                <option class="form-control" value='false'>NOT ACTIVE</option>
            </select></td>
            <td><input ng-if='addObjectInProcess' class="form-control"
                    ng-model="newObject.info" maxlength="50"></td>
            <td ng-if="!addObjectInProcess" align="center">
                <button class="modernButton addNew" ng-click="addingObject()">Add
                    new
                </button>
            </td>
            <td ng-if="addObjectInProcess" align="center">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <i class="btn glyphicon glyphicon-floppy-disk saveEditBtn"
                                ng-click="addToList()" title="Create"></i> <i
                            class="btn glyphicon glyphicon-remove cancelDelBtn"
                            ng-click="clear()" title="Cancel"></i>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    
    <table class="employees-info-table" ng-if="searchIsEmpty.empty && !checkboxShowAll.value">
        <colgroup>
            <col class="employees-info-table-col1">
            <col class="employees-info-table-col2">
            <col class="employees-info-table-col3">
            <col class="employees-info-table-col4">
            <col class="employees-info-table-col5">
        </colgroup>
        <thead>
        <tr class="table-employees__header">
            <th class="table-employees__header-item">Name</th>
            <th class="table-employees__header-item">Email</th>
            <th class="table-employees__header-item">Status</th>
            <th class="table-employees__header-item">Admin rights</th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="(key, element) in users | itemsPerPage: usersPerPage" total-items="totalUsers" current-page="pagination.current" >
            <td>
                <span>{{element.name}}</span>
            </td>
            <td>
                <span>{{element.email}}</span>
            </td>
            <td>
                <span>{{element.active? 'ACTIVE' : 'NOT ACTIVE'}}</span>
            </td>
            <td><span>{{element.admin? 'True': 'False'}}</span>
            </td>
            <td align="center">
                <div class="btn-toolbar" style="display: inline-block;"
                        ng-if='element.id!=editingId' style="display: inline-block;">
                    <div class="btn-group">
                        <i class="btn glyphicon glyphicon-edit saveEditBtn"
                                ng-click="editing(element)" title="Edit"></i> <i
                            class="btn glyphicon glyphicon-trash cancelDelBtn" ng-click=""
                            title="Delete"></i>
                    </div>
                </div>
                <div class="btn-toolbar" ng-if='element.id==editingId'>
                    <div class="btn-group">
                        <i class="btn glyphicon glyphicon-floppy-disk saveEditBtn"
                                title="Save" ng-click="editObject(key)"></i> <i
                            class="btn glyphicon glyphicon-remove cancelDelBtn"
                            ng-click="cancel()" title="Cancel"></i>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="employees-info-table-last-row">
            <td>
                <form name="addLocationNameForm" autocomplete="off">
                    <input ng-if='addObjectInProcess' class="form-control"
                            name="addingObjectName" id="addingObjectName"
                            class="form-control" ng-class="checkStyle(addLocationNameForm.addingObjectName.$valid)"
                            ng-pattern="regex"
                            ng-model="newObject.name" maxlength="5" required/>
                </form>
            </td>
            <td>
                <form name="addLocationAddresForm" autocomplete="off">
                    <input ng-if='addObjectInProcess' class="form-control"
                            name="addingObjectAddr" id="addingObjectAddr"
                            ng-class="checkStyle(addLocationAddresForm.addingObjectAddr.$valid)" ng-pattern="regex"
                            ng-model="newObject.address" maxlength="25" required/>
                </form>
            </td>
            <td><select class="form-control" ng-if='addObjectInProcess'
                    ng-model="newObject.active">
                <option class="form-control" value='true'>ACTIVE</option>
                <option class="form-control" value='false'>NOT ACTIVE</option>
            </select></td>
            <td><input ng-if='addObjectInProcess' class="form-control"
                    ng-model="newObject.info" maxlength="50"></td>
            <td ng-if="!addObjectInProcess" align="center">
                <button class="modernButton addNew" ng-click="addingObject()">Add
                    new
                </button>
            </td>
            <td ng-if="addObjectInProcess" align="center">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <i class="btn glyphicon glyphicon-floppy-disk saveEditBtn"
                                ng-click="addToList()" title="Create"></i> <i
                            class="btn glyphicon glyphicon-remove cancelDelBtn"
                            ng-click="clear()" title="Cancel"></i>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <dir-pagination-controls ng-if="searchIsEmpty.empty && !checkboxShowAll.value"  class="pagination-directive" on-page-change="pageChanged(newPageNumber)"
            max-size = "controlPageSize"></dir-pagination-controls>
            

    <div ng-if="!searchIsEmpty.empty" class="nothing-found-div">
	Nothing has been found
    </div>
    <div class="popup-required-bg" ng-if="trigered" ng-click="changeTrigered()"></div>
    <div class="popup-required focusred" ng-if="trigered">
        Changes cannot be saved as not all mandatory cells are filled in or filled in incorrectly
        <button class="popup-required__btn modernButton addNew" type="button" ng-click="changeTrigered()">OK</button>
    </div>
</div>